@import "tailwindcss";
*{
  background: #1c1919;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
button{
  border-radius: 999em; /* Creates pill shape */
  border: 1px solid #fff; 
}
nav{
  display: flex;
  justify-content: space-between;
  padding: 18px 80px 12px 80px;
  align-content: center;
  font-size: 0.85rem ;
  position: sticky;
  top: 0;
  z-index: 10;
}
#cursor{
  margin-top: 4px;
}
.logo-nav{
  display: flex;
  gap: 4px;
  font-size: 1.2rem;
}
.center-nav{
  display: flex;
  text-decoration: none;
  gap: 40px;
}
.top-button{
  display: flex;
  align-items: center;
  gap: 10px;
}

.nav-button{
  border: 1px solid #fff;
  padding: 2px 10px 2px;
}

#download{
background: aliceblue;
color: black;
}

#hero-text{
  margin: 130px 80px 30px 80px;
  font-size: 26px;
}

#hero-button{
padding: 5px 20px 10px 20px;
font-size: 15px;
background: white;
color: black;
margin: 0px 80px 30px 80px;
}

#hero-img{
margin: 45px 80px 30px 80px;
display: block;
}
#bh-text{
  padding: 0px 50px 0px 500px ;
}
/* .below-hero{
  display: flex;
  justify-content: center;
} */
.bhlogos{
  margin-top: 30px;
  margin-left: 80px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  justify-content: space-around;
}